* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f4f1;
}

header {
    background-color: #6f4e37;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: #6f4e37;
}

p {
    font-size: medium;
    color: #6f4e37;
}

main {
    padding: 20px;
}

#lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.producto img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6f4e37;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
