* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;    
}

header {
    background-color: chocolate;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
    padding-inline: 1.5rem;
}

.productos {
    display: grid; 
    grid-template-columns: 1fr, 1fr, 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.producto {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: white;
    gap: .25 rem; 
}

.producto img {
    max-width: 100%; 
    height: auto;   
}

.producto-img {
    border-radius: .75rem;
}

.producto-btn {
    border-radius: .75rem;
    border: 0;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    padding: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    border: 2px solid var(--clr-accent);
    transition: .2s;
}

.producto-btn:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-weight: 600;
    letter-spacing: 1px;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.carrito-producto {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-black);
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: var(--clr-white);
}

.carrito-producto-btn {
    background-color: var(--clr-white);
    border: 0;
    padding: .25rem;
    border-radius: .25rem;
    cursor: pointer;
}

.d-none {
    display: none;
}

.footer {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding-block: 2rem;
}