//VARIABLES//
$background-cajas:  rgba(243, 223, 245, 0.952); 
$bordes-cajas: 2px solid black;

//IMPORTS//
//import reseteo css//
@import "reseteo-css";
//import footer//
@import "footer";
//import header-navbar//
@import "header-navbar";
//import contenedores-modalidades//
@import "contenedores-modalidades";
//import contenedores-nosotros//
@import "contenedores-nosotros";




  body {
    background-color: $background-cajas;
    height: 100vh;
  }

  .main {
    height: 100%;
    margin-top: 40px;
    min-height: 100vh;
  
  }
  
  .titulo1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  
  .titulo2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  
  .main-contacto .titulo3 {
    margin-top: 40px;
    text-align: center;
  }
  
  .ubicacion iframe {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 80px;
  }
  
  
  